@import "icons.css";

/**
 * Reset CSS
**/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	margin: 0;
	font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: white;
	background-image: url('../img/bg.png') no-repeat center fixed;
	-webkit-background-size: cover;
}

/**
 * SCROLLBAR
**/
::-webkit-scrollbar {
    width: 15px;
    background: black;
}
 
::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.3);
}

/** 
 * TYPOGRAPHY 
**/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 200;
}

h1.cat {
	margin-bottom: 5px;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 25px;
}

h3 {
	font-size: 17px;
}

/**
 * GRID CSS
**/
[class*="span"]{
  float: left;
  min-height: 1px;
  margin-left: 1.564102564102564%;
}

.lg {
	max-width: 300px;
	min-width: 100px;
}
.container {
	width: 100%;
	margin: 0 auto;
	margin-top: 10px;
}
.left {
	float: left;
}
.right {
	float: right;
}

.span12 {
	width: 100%;
    *width: 99.94680851063829%;
}
.span11 {
	width: 91.45299145299145%;
	*width: 91.39979996362975%;
}
.span10 {
	width: 82.90598290598291%;
	*width: 82.8527914166212%;
}
.span9 {
	width: 74.35897435897436%;
	*width: 74.30578286961266%;
}
.span8 {
	width: 65.81196581196582%;
	*width: 65.75877432260411%;
}
.span7 {
	width: 57.26495726495726%;
	*width: 57.21176577559556%;
}
.span6 {
	width: 48.717948717948715%;
	*width: 48.664757228587014%;
}
.span5 {
	width: 40.17094017094017%;
	*width: 40.11774868157847%;
}
.span4 {
	width: 31.623931623931625%;
	*width: 31.570740134569924%;
}
.span3 {
	width: 23.076923076923077%;
	*width: 23.023731587561375%;
}
.span2 {
	width: 14.52991452991453%;
	*width: 14.476723040552828%;
}
.span1 {
	width: 5.982905982905983%;
	*width: 5.929714493544281%;
}

/**
 * ELEMENTS
**/
img.avatar {
	width: 50px;
	height: 50px;
	margin-right: 8px;
}

.name {
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-khtml-transition-duration: 0.5s;
	cursor: pointer;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.name:hover {
	background-color: white;
	color: black;
}

.box {
	cursor: pointer;
	margin-bottom: 10px;
	height: 120px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
}

.box:active {
	box-shadow: inset 0 1px 10px rgba(0,0,0,0.4);
}

.box.light {
	background: #2c87ef;
}

.box.light:hover {
	background: #469afb;
}

.box.orange {
	background: #d34927;
}

.box.orange:hover {
	background: #e45633;
}

.box.blue {
	background: #5d3ab7;
}

.box.blue:hover {
	background: #6943cb;
}

.box.green {
	background: #5ea91a;
}

.box.green:hover {
	background: #6cbc23;
}

.box.pink {
	background: #bd1e49;
}

.box.pink:hover {
	background: #d52b59;
}

.box.purple {
	background: #735792;
}

.box.purple:hover {
	background: #86749e;
}

.box.darkblue {
	background: #285b9d;
}

.box.darkblue:hover {
	background: #5377a7;
}

.box.red {
	background: #fe2e2e;
}

.box.red:hover {
	background: #ea5858;
}

.box.lightblue {
	background: #5fb5cc;
}

.box.lightblue:hover {
	background: #7bb6c6;
}

.box small {
	padding-left: 10px;
}

/**
 * TABLE
**/
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

tr {
	text-align: center;
	margin: 0;
	padding: 0;
}

td {
	margin: 0;
	padding: 0;
	line-height: 20px;
	border: none;
}

tr.green {
	color: green;
}

tr.red {
	color: red;
}

/**
 * LIENS
**/
a:link, a:visited, a:active {
	color: white;
}

/**
 * MODAL
**/
.modal {
	display: none;
	width: 100%;
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
}

.input {
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
	padding-left: 10px;
	border: solid 1px rgba(0,0,0,0.4);
	background: white;
}

input {
	font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	color: rgba(0,0,0,0.6);
	text-shadow: none;
}

.input input[type=text] {
	width: 90%;
	margin: 0;
	height: 25px;
	border: none;
}

input[type=text]:focus {
	outline: none;
}

.search {
	width: 65.81196581196582%; 
	max-width: 500px; 
	margin: 0 auto; 
	margin-top: 10px;
}

.close {
	font-size: 15px;
	color: rgba(0,0,0,0.3);
	display: inline-block;
	margin-top: 6px;
	cursor: pointer;
	float: right;
}

.close:hover {
	color: rgba(0,0,0,0.5);
}

.modal .box {
	background: white;
	padding: 5px;
}

/**
 * APPLICATION
**/
.appclose {
	font-size: 2.5em;
	font-family: 'Entypo';
	cursor: pointer;
	color: white;
	line-height: 10px;
	display: inline-block;
	vertical-align: text-top;
	float: left;
	margin-right: 10px;
}

.appbox {
	margin-top: 10px;
	min-height: 100px;
	background: rgba(255,255,255,0.3);
}

/**
 * PREFERENCES
**/
#preference {
	color: black;
}

#preference .appclose{
	color: black;
}

#preference li.menu {
	margin: 0;
	margin-top: 5px;
	list-style: none;
	padding: 0;
	width: 100%;
	color: black;
	font-size: 20px;
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#preference li.menu:hover, #preference li.menu.selected {
	background: #0c8944;
	color: white;
	cursor: pointer;
}

#preference .item {
	height: 40px;
	color: white;
	padding-left: 10px;
	margin-bottom: 10px;
	color: black;
}

#preference .item:hover, #preference .item.none:hover {
	background: #0c8944;
	color: white;
	cursor: pointer;
}

#preference .item:hover span.icon, #preference .item.none:hover span.icon {
	color: white;
}

#preference .item.none span.icon {
	color: lightgray;
}

#preference .item span.icon {
	color: #0c8944;
	font-weight: bold;
}

#preference .item h3{
	padding-top: 5px;
	padding-bottom: 5px;
}

#preference .item.none {
	color: lightgray;
}

#preference .item .tools {
	display: none;
	float: right;
	margin-top: -15px;
}

#preference .item .tools span.icon{
	font-size: 41px;
	padding-right: 5px;
}

#preference .item:hover .tools {
	display: block;
}
.clearfix {
	clear: both;
}

.button {
	background: #ddd;
	padding: 10px 15px;
	border: none;
	font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
}

.button:hover {
	background: #E3E3E3;
}
